.header {
    display: inline-block;
    cursor: pointer;

    .ant-tooltip {
        margin-top: 4px;
        box-sizing: border-box;
        .activity-title {
            font-family: "Arial", "Microsoft YaHei","黑体","宋体",sans-serif;
            color: #333333;
            padding-left: 20px;
            margin-right: 10px;
            font-size: 18px;

        }
    }
}

